/**
默认主題-白色
**/

$color-background: #ECEFE0;
$color-white: #FFFFFF;
$color-black: #454545;
$app-background: #f0f0f0;
$dark_gray: #889aa4;
$light_gray: #eee;
$cursor: #fff;
$sudBar_hover: #eee;
$border: #ECEFE0;

$navBar: white;

// sidebar
$menuText: #7f7c7f;
$menuActiveText: #000000;
$subMenuActiveText: #676562; //https://github.com/ElemeFE/element/issues/12951
$menuBg: white;
$menuHover: #f4f6ef;// 聚焦時候背景
$subMenuBg: #fcfcfc;// 子菜單
$subMenuHover: #f4f6ef;//子菜單聚焦背景
$sideBarWidth: 240px;

$admin-color:#64A70B;
$company-color: #d81e06;
$site-color: #efb336;
$user-color: #1296db;

